n8n_laptop_loan_workflow.json
{
  "name": "SiPinjam Laptop - WhatsApp Notifications (GoWA)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "laptop-loan",
        "options": {}
      },
      "id": "e98e2b8c-5f8a-4d9e-b9e3-2e2d1d1d1d1d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook Trigger\"].json[\"body\"][\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "NEW_REQUEST",
              "output": 0
            },
            {
              "value2": "STATUS_UPDATE",
              "output": 1
            }
          ]
        }
      },
      "id": "f8d7c6b5-a4b3-c2d1-e0f9-1a1b1c1d1e1f",
      "name": "Switch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const adminPhones = $node[\"Webhook Trigger\"].json.body.adminPhones || [];\nreturn adminPhones.map(phone => ({ json: { phone, ...$node[\"Webhook Trigger\"].json.body } }));"
      },
      "id": "cc11aa22-bb33-cc44-dd55-ee66ff778899",
      "name": "Loop Admin Phones",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 180]
    },
    {
      "parameters": {
        "resource": "send",
        "operation": "sendText",
        "phone": "={{$json[\"phone\"]}}",
        "message": "=\uD83D\uDD14 *PENGAJUAN PINJAM LAPTOP BARU*\n\n\uD83D\uDC64 Nama: {{$json[\"teacherName\"]}}\n\uD83D\uDCBB Unit: {{$json[\"laptopMerk\"]}}\n\uD83D\uDCDD Keperluan: {{$json[\"purpose\"]}}\n\u23F0 Waktu: {{$json[\"timestamp\"]}}\n\nSilakan buka Dashboard Admin untuk Approval.\n\uD83D\uDD17 https://laptop.griyaquran.web.id/login-admin"
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Notify Admin (GoWA)",
      "type": "n8n-nodes-gowa.gowa",
      "typeVersion": 1,
      "position": [880, 180],
      "credentials": {
        "gowaApi": {
          "name": "GQ System"
        }
      }
    },
    {
      "parameters": {
        "resource": "send",
        "operation": "sendText",
        "phone": "={{$node[\"Webhook Trigger\"].json[\"body\"][\"teacherPhone\"]}}",
        "message": "=\uD83D\uDCCB *UPDATE STATUS PEMINJAMAN*\n\nHalo *{{$node[\"Webhook Trigger\"].json[\"body\"][\"teacherName\"]}}*,\n\nPengajuan pinjam laptop *{{$node[\"Webhook Trigger\"].json[\"body\"][\"laptopMerk\"]}}* Anda telah:\n\n*{{$node[\"Webhook Trigger\"].json[\"body\"][\"action\"] == 'approve' ? '\u2705 DISETUJUI' : '\u274C DITOLAK'}}*\n\n{{$node[\"Webhook Trigger\"].json[\"body\"][\"action\"] == 'approve' ? 'Silakan ambil unit laptop di ruang IT. Terima kasih!' : 'Mohon hubungi Admin untuk informasi lebih lanjut.'}}\n\n_Sistem SiPinjam - Griya Quran_"
      },
      "id": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Notify Teacher (GoWA)",
      "type": "n8n-nodes-gowa.gowa",
      "typeVersion": 1,
      "position": [700, 420],
      "credentials": {
        "gowaApi": {
          "name": "GQ System"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Loop Admin Phones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Teacher (GoWA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Admin Phones": {
      "main": [
        [
          {
            "node": "Notify Admin (GoWA)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
