n8n_laptop_loan_workflow.json
{
  "name": "SiPinjam Laptop - WhatsApp Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "laptop-loan",
        "options": {}
      },
      "id": "e98e2b8c-5f8a-4d9e-b9e3-2e2d1d1d1d1d",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Webhook Trigger\"].json[\"type\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "NEW_REQUEST",
              "output": 0
            },
            {
              "value2": "STATUS_UPDATE",
              "output": 1
            }
          ]
        }
      },
      "id": "f8d7c6b5-a4b3-c2d1-e0f9-1a1b1c1d1e1f",
      "name": "Switch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fonnte.com/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_FONNTE_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{$node[\"Webhook Trigger\"].json[\"adminPhones\"].join(',')}}"
            },
            {
              "name": "message",
              "value": "=🔔 *PENGAJUAN PINJAM LAPTOP BARU*\n\n👤 Nama: {{$node[\"Webhook Trigger\"].json[\"teacherName\"]}}\n💻 Unit: {{$node[\"Webhook Trigger\"].json[\"laptopMerk\"]}}\n📝 Keperluan: {{$node[\"Webhook Trigger\"].json[\"purpose\"]}}\n\nSilakan cek Dashboard Admin untuk Approval."
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Notify Admins",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.fonnte.com/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_FONNTE_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{$node[\"Webhook Trigger\"].json[\"teacherPhone\"]}}"
            },
            {
              "name": "message",
              "value": "=📋 *UPDATE STATUS PEMINJAMAN*\n\nHalo {{$node[\"Webhook Trigger\"].json[\"teacherName\"]}},\n\nPengajuan pinjam laptop *{{$node[\"Webhook Trigger\"].json[\"laptopMerk\"]}}* Anda telah: \n*{{$node[\"Webhook Trigger\"].json[\"action\"].toUpperCase()}}*\n\n{{$node[\"Webhook Trigger\"].json[\"action\"] == 'approve' ? 'Silakan ambil unit di ruang IT.' : 'Silakan hubungi admin untuk informasi lebih lanjut.'}}"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Notify Teacher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [700, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Notify Admins",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Teacher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
